
.MMM-Openhab {
	width: 400px;
	height: 700px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

.MMM-Openhab .header {
  color: red;               /* Header color. Default is red. */
}

.MMM-Openhab .ifr {
 	width: 400px;
	height: 680px;
}
